[Unit]
Description=Aiogram bot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/aiogram-bot
ExecStart=/root/.local/bin/poetry run aiogram_bot
EnvironmentFile=/opt/aiogram-bot/.env
Restart=always

[Install]
WantedBy=multi-user.target